global
        maxconn 50000
        log stderr format iso local7
        nbthread 4

	# Default SSL material locations
	ca-base /usr/local/etc/haproxy/ssl/ca
	crt-base /usr/local/etc/haproxy/ssl/certs

	tune.ssl.default-dh-param 4096

        ssl-default-bind-options ssl-min-ver TLSv1.2 prefer-client-ciphers
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-ciphers ECDH+AESGCM:ECDH+CHACHA20:ECDH+AES256:ECDH+AES128:!aNULL:!SHA1:!AESCCM

        ssl-default-server-options ssl-min-ver TLSv1.2
        ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-server-ciphers ECDH+AESGCM:ECDH+CHACHA20:ECDH+AES256:ECDH+AES128:!aNULL:!SHA1:!AESCCM

defaults HTTP
        log     global
	mode	http
        option forwardfor
        option http-server-close
	option	httplog
	option	dontlognull

        timeout connect 5s
        timeout check 5s
        timeout client  30s
        timeout server  30s

defaults TCP
        log     global
	mode	tcp
	option	tcplog
        timeout connect 5s
        timeout check 5s
        timeout client  30s
        timeout server  30s


#########################################
#		Frontend		#
#########################################

frontend stats
	mode http
	bind 0.0.0.0:8080
        stats enable        stats hide-version
        stats uri     /
        stats realm   HAProxy\ Statistics
	stats refresh 60s

frontend redirect-tls
        mode http

	# Listen IP/port
        bind 0.0.0.0:80

	# Redirect everything to HTTPS
        redirect scheme https

frontend secureweb
	mode http

	# Listen IP/port
        bind 0.0.0.0:443 ssl crt example.pem

	# Options
	#option accept-invalid-http-request

        # ACLs
	acl is_examplesite hdr(host) -i www.example.com

	# Add headers
        http-response set-header Strict-Transport-Security "max-age=16000000; includeSubDomains; preload;" if { ssl_fc }

	# Remove headers that expose security-sensitive information.
        http-response del-header Server
        http-response del-header X-Powered-By
        http-response del-header X-AspNet-Version

        # Backends
	use_backend examplesite if is_examplesite

#########################################
#               Backend                 #
#########################################

backend examplesite
	# Examplesite www.example.com
	mode http
	option httpchk GET
        http-check send hdr Host www.example.com

	balance leastconn
	# Add cookie for sticky connections
        #cookie X-LB-EXAMPLESITE insert indirect nocache httponly secure

        # SSL backend, sticky connection
        #server backend1 www1.example.com:443 ssl ca-file backend_internal_ca.pem check cookie backend1
        #server backend2 www2.example.com:443 ssl ca-file backend_internal_ca.pem check cookie backend2

        # HTTP backend, no sticky
        server backend1 www1.example.com:80 check
